# .env.example - you can make your own .env file like this
CONTRACT='{"mechanism": "proof-of-work", "difficulty": 4, "reward": 5, "currency": "COIN"}'
REDIS_HOST="redis_container"
REDIS_PORT=6379
REDIS_ENDPOINT="redis_container:6379"
NETWORK_ENDPOINT="http://brain:8000"
# Add any other keys your load_config.py looks for!